module("config")
--[[
    Copy auto_speed_config.lua.example to auto_speed_config.lua and edit the options below.

    https://github.com/kevinlekiller/mpv_scripts
--]]
--[[
    Copyright (C) 2015  kevinlekiller

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
    https://www.gnu.org/licenses/gpl-2.0.html
--]]

-- The mininum/maximum speeds a video can play at, so it doesn't look or sound weird.
-- If outside of this range, the video speed is unchanged.
-- For example, your monitor supports 72hz and the video is 23.976fps, the video must play 1.001001001x faster,
-- 1.001001001 is between 0.9 and 1.1
-- If your monitor only supports 60hz and the video is 23.976, then the video must 
-- play 1.25125125125 faster, which is higher than 1.1, so the speed is unchanged.
-- Default values: min_speed = 0.9, max_speed = 1.1
thresholds = {
    min_speed = 0.9,
    max_speed = 1.1
}

-- Enable or disable usage of xrandr.
-- Used to change the display refresh rate and calculated monitor refresh rate from modeline.
use_xrandr = false

-- Set to the display you want. Find them with this command: xrandr | grep -Poi '^.+connected'
-- This should be the display you want to use to play videos with mpv.
-- Example values: "DP1" "HDMI1" "VGA1" "HDMI2" etc
display = "HDMI1"

-- Set your display resolution as shown by xrandr.
-- You can find this with this command: xrandr | grep -Poi '^.+?\sconnected\s+(primary\s+)?\d+x\d+'
-- Example values: "1920x1080" "1680x1050" "1280x720" etc
resolution  = "1920x1080"

-- Set the mode you want to set your monitor to when exiting mpv.
-- Leave it "" if you don't want to change the mode when exiting mpv.
-- If this script had to change the refresh rate of your monitor, for example to 72hz,
-- but you prefer your screen to be 60hz when you exit mpv, then change this.
-- You can find the modes by typing xrandr --verbose
-- A mode looks like "0x48" in the following string: 1920x1080 (0x48) 148.500MHz +HSync +VSync *current +preferred
-- Example values: "0x48" "0x127" "0x128" etc
exit_drr = ""

-- Use ffprobe to find a more accurate video frame rate.
-- This only works on local files, the script will detect this automatically.
-- Requires ffprobe in PATH
-- Valid values: true / false
use_ffprobe = false

-- Show information on OSD?
-- Valid values: true / false
osd_displayed = false

-- Display the OSD information when a video starts playing?
-- Valid values: true / false
osd_start = false

-- How many seconds to show the OSD information.
-- Must be a number, default is 10
osd_time = 10

-- Key you can press to view the information on the OSD when a video is loaded.
osd_key = "y"
