module("config")
--[[
    Copy auto_speed_config.lua.example to auto_speed_config.lua and edit the options below.

    https://github.com/kevinlekiller/mpv_scripts
--]]
--[[
    Copyright (C) 2015  kevinlekiller

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
    https://www.gnu.org/licenses/gpl-2.0.html
--]]

----------------------------------------------------------------------------------
-------------------- Start of user configurable options --------------------------
----------------------------------------------------------------------------------
--------------------- Start of refresh rate settings. ----------------------------
-- Enable or disable usage of xrandr to change display refresh rate.
-- Disable if your operating system does not have xrandr.
use_xrandr = false
-- Use xvidtune to calculate accurate monitor refresh rate?
-- Requires xvidtune in PATH (on Arch Linux, the package name is xorg-xvidtune).
use_xvidtune = false
-- Enable or disable usage of nircmd to change display refresh rate.
-- Windows only. Requires nircmdc.exe in PATH.
use_nircdm = false
-- Colour bit depth to set the screen to when using nircmd.
nircmd_bit_depth = "32"
-- Set to the display you want. Find them with this command: xrandr | grep -Poi '^.+connected'
xrandr_display = "DP1"
-- Set your display resolution.
display_width  = "1920"
display_height = "1080"
-- Supported refresh rates by your monitor, set to false or the mode (xrandr --verbose) based on your monitor.
-- If you add custom timings using xrandr, it's recommended to use the left part of the mode,
-- because the right part will change every time you add it back.
-- For example: 1920x1080_72.00 (0x129), you would add "1920x1080_72.00"
-- If you modified your edid, using the right part "0x129" should be fine, since that should not change.
srr = {
    _24  = false,
    _25  = false,
    _30  = false,
    _48  = false,
    _50  = false,
    _60  = "0x48",
    _72  = false,
    _96  = false,
    _100 = false,
    _120 = false,
    _144 = false
}
---------------------- End of refresh rate settings. -----------------------------
------------------------ Start of speed settings. --------------------------------
-- Use ffprobe to find a more accurate video frame rate.
-- Requires ffprobe in PATH
-- Requires a version of mpv compiled after March 24th 2015 (https://github.com/mpv-player/mpv/commit/36c4ac8464fc19bd8820ee02e2c0f228071764af)
use_ffprobe = false
-- The min/max speeds a video can play at, so it doesn't look too weird.
-- If outside of this range, the video speed is unchanged.
thresholds = {
    min_speed = 0.9,
    max_speed = 1.1
}
------------------------- End of speed settings. ---------------------------------
------------------------- Start of OSD settings. ---------------------------------
-- Show information on OSD?
osd_displayed = true
-- Show OSD information on start?
osd_start = false
-- How many seconds to show information on OSD.
osd_time = 10
-- Key you can press to view the information on the OSD.
osd_key = "y"
-------------------------- End of OSD settings. ----------------------------------
----------------------------------------------------------------------------------
--------------------- End of user configurable options ---------------------------
----------------------------------------------------------------------------------
